<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-model</title>
    <script src="script/angular.js"></script>
</head>
<body ng-app="">
<h1><a href="index.html">Home</a></h1><h1>Basic Example</h1>
<br/>
    Name:
    <br>
    <input type="text"  ng-model="name"/>{{name}}
<script>
</script>
</body>
</html>