<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Services</title>
<script src="script/angular.js"></script>
</head>
<body ng-app="myApp">
	<h1>
		<a href="index.html">Home</a>
	</h1>
	<h1>Factory</h1>
	<br />

	<div ng-controller="HelloCtrl">
		<p>{{fromFactory}}</p>
	</div>
	<br />
	<div ng-controller="GoodbyeCtrl">
		<p>{{fromFactory}}</p>
	</div>


	<script>
	//angular.js example for factory vs service
	//angular.js example for factory vs service
var app = angular.module('myApp', []);
    
app.factory('testFactory', function(){
    return {
        sayHello: function(text){
            return "Factory says \"Hello " + text + "\"";
        },
        sayGoodbye: function(text){
            return "Factory says \"Goodbye " + text + "\"";
        }  
    }               
});

function HelloCtrl($scope, testFactory)
{
    $scope.fromFactory = testFactory.sayHello("World");
}

function GoodbyeCtrl($scope, testFactory)
{
    $scope.fromFactory = testFactory.sayGoodbye("World");
}

		
</script>
</body>
</html>