<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-repeat</title>
    <script src="script/angular.js"></script>
</head>
<body ng-app="">
<h1><a href="index.html">Home</a></h1><h1>ng-init and ng-repeat</h1>
<div class="container" ng-init="names=['dave','john','smith','shiv']">
   <!--  Name:
    <br>
    <input type="text"  ng-model="name"/> -->

    <ul>
        <li ng-repeat="nam in names">{{nam}}</li>
    </ul>
</div>
<script>
</script>
</body>
</html>