<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-repeat with filters</title>
    <script src="script/angular.js"></script>
</head>
<body ng-app="">
<h1><a href="index.html">Home</a></h1><h1>Filters</h1>
<div class="container" ng-init="customers=[{name:'james', city:'india'},{name:'smith', city:'kerala'},{name:'john', city:'tamil nadu'},{name:'shiva', city:'gujarat'}]">
    Name:
    <br>
    <input type="text"  ng-model="name"/>

    <ul>
        <li ng-repeat="cust in customers | filter:name| orderBy:'city'">{{cust.name |uppercase}}  - {{cust.city |lowercase}}</li>
    </ul>
</div>
<!--   -->
<script>
</script>
</body>
</html>