<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-repeat with filters</title>
    <script src="script/angular.js"></script>
    <script>
        angular.module('myReverseModule', [])
                .filter('reverse', function() {
                    return function(input, uppercase) {
                        input = input || '';
                        var out = "";
                        for (var i = 0; i < input.length; i++) {
                            out = input.charAt(i) + out;
                        }
                        // conditional based on optional argument
                        if (uppercase) {
                            out = out.toUpperCase();
                        }
                        return out;
                    };
                })
                .controller('Controller', ['$scope', function($scope) {
                    $scope.greeting = 'hello';
                }]);
    </script>
</head>
<body ng-app="myReverseModule">
<h1><a href="index.html">Home</a></h1><h1>Custom Filters</h1>
<div ng-controller="Controller">
    <input ng-model="greeting" type="text"><br>
    No filter: {{greeting}}<br>
    Reverse: {{greeting|reverse}}<br>
    Reverse + uppercase: {{greeting|reverse:true}}<br>
</div>

</body>
</html>