<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Scopes and Controllers</title>
<script src="script/angular.js"></script>
<script>
    function SimpleController($scope) {
        $scope.customers = [
           { name: 'Dave Jones', city: 'Phoenix' },
           { name: 'Jamie Riley', city: 'Atlanta' },
           { name: 'Heedy Wahlin', city: 'Chandler' },
           { name: 'Thomas Winter', city: 'Seattle' }
        ];
    }
    </script>
</head>
<body ng-app="">
	<h1>
		<a href="index.html">Home</a>
	</h1>
	<h1>Scope and Controllers</h1>
	<div class="container" data-ng-controller="SimpleController">
		<h3>Adding a Simple Controller</h3>
		<ul>
			<li data-ng-repeat="cust in customers">{{ cust.name }} - {{
				cust.city }}</li>
		</ul>
	</div>

</body>
</html>