<!DOCTYPE html>
<html lang="en">
<head>

<title>AngularJS Routing example</title>

<script src="script/angular.js"></script>
<script src="script/angular-route.min.js"></script>
</head>

<body ng-app="sampleApp">
	<h1>
		<a href="index.html">Home</a>
	</h1>
	<h1>Views</h1>
	<a href="#/view1">View 1</a>
	<br />
	<a href="#/view2">View 2</a>
	<br />


	<div ng-view></div>

	<script>
    var module = angular.module("sampleApp", ['ngRoute']);

    module.config(['$routeProvider',
        function($routeProvider) {
            $routeProvider.
                when('/view1', {
                    templateUrl: 'add_order.html',
                    controller: 'viewController1'
                }).
                when('/view2', {
                    templateUrl: 'show_orders.html',
                    controller: 'viewController2'
                }).
                otherwise({
                    redirectTo: '/'
                });
        }]);

    module.controller("viewController1", function($scope) {
    	$scope.message="Order add"
    })
    module.controller("viewController2", function($scope) {
    	$scope.message="View add"
    })
</script>


	<script type="text/ng-template" id="add_order.html">

		<h2> Add Order </h2>
		{{message}}

	</script>

	<script type="text/ng-template" id="show_orders.html">

		<h2> Show Orders </h2>
		{{message}}

	</script>

</body>
</html>
