<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Modules</title>
<script src="script/angular.js"></script>
<script>
var app = angular.module("myApp", []);

app.controller("myCtrl", function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
});
</script>
</head>
<body>
	<h1>
		<a href="index.html">Home</a>
	</h1>
	<h1>Modules</h1>
	<div ng-app="myApp" ng-controller="myCtrl">{{ firstName + " " +
		lastName }}</div>

</body>
</html>