<!DOCTYPE html>
<html lang="en">
<head>

<title>Routing</title>

<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> -->
<script src="script/angular.js"></script>
<script src="script/angular-route.min.js"></script>

</head>

<body ng-app="sampleApp">
	<h1>
		<a href="index.html">Home</a>
	</h1>
	<h1>Routing</h1>
	<a href="#/route1">Route 1</a>
	<br />
	<a href="#/route2">Route 2</a>
	<br />


	<div ng-view></div>

	<script>
    var module = angular.module("sampleApp", ['ngRoute']);

    module.config(['$routeProvider',
        function($routeProvider) {
            $routeProvider.
                when('/route1', {
                    templateUrl: 'add_order.html',
                    controller: 'RouteController1'
                }).
                when('/route2', {
                    templateUrl: 'show_orders.html',
                    controller: 'RouteController2'
                }).
                otherwise({
                    redirectTo: '/'
                });
        }]);

   
    
     module.controller("RouteController1", function($scope) {
    	$scope.message="Order add"
    })
    module.controller("RouteController2", function($scope) {
    	$scope.message="View add"
    })
</script>


	<script type="text/ng-template" id="add_order.html">

		<h2> Add Order </h2>
		{{message}}

	</script>

	<script type="text/ng-template" id="show_orders.html">

		<h2> Show Orders </h2>
		{{message}}

	</script>

</body>
</html>
