<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Services</title>
<script src="script/angular.js"></script>
</head>
<body ng-app="myApp">
	<h1>
		<a href="index.html">Home</a>
	</h1>
	<h1>Services</h1>
	<br />

	<div ng-controller="HelloCtrl">
		<p>{{fromService}}</p>
	</div>
	<br />
	<div ng-controller="GoodbyeCtrl">
		<p>{{fromService}}</p>
	</div>

	<script>
	//angular.js example for factory vs service
	var app = angular.module('myApp', []);	    

	app.service('testService', function(){
	    this.sayHello= function(text){
	        return "Service says \"Hello " + text + "\"";
	    };        
	    this.sayGoodbye = function(text){
	        return "Service says \"Goodbye " + text + "\"";
	    };   
	});

	function HelloCtrl($scope, testService)
	{
	    $scope.fromService = testService.sayHello("World");
	}

	function GoodbyeCtrl($scope, testService)
	{
	    $scope.fromService = testService.sayGoodbye("World");
	}
		
</script>
</body>
</html>